.sidebar-wrapper {
  position: relative;
}

.sidebar-container {
  background-image: url('./dark-mosaic.png') !important;
}

.sidebar-options {
  z-index: 60;

  & > * > * {
    margin-bottom: 15px;
  }

  & > *:not(:first-of-type) label {
    margin-top: 8px !important;
  }
}

#randomize,
#reload {
  margin: 0;
  width: 100%;
}

.image-setting {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header {
  background-color: var(--color-image-average) !important;
  display: flex;
  align-items: center;

  .title {
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: 0;
  }
}

.segment.header,
.segment.side,
.segment.main {
  background-image: url('./dark-mosaic.png') !important;
}

#image {
  height: auto !important;

  img {
    width: 100%;
  }
}

.sidebar-wrapper {
  height: 100%;
  overflow: auto;
}

.sidebar-options {
  overflow: auto;
  padding: 0 10px 10px 0;
}
